################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Business.Lib/bin
/Business.Lib/obj
*.user
*.suo
*.nupkg
/.vs
bin
obj
/Business.Lib/Business.Lib.nupkg
/Business.Lib.Standard/bin
/Business.Lib.Net/bin
/Business.Lib.Net/obj
/Business.Lib.Standard/obj
